---
layout: page
title: "Categories"
permalink: /categories/
---

{% assign categories = site.categories | sort: "tag" %}
{% for category in categories %}
{% if category.title == "Categories" %}
  {% continue %}
{% endif %}
<h2><a href="{{category.permalink}}">{{category.title}}</a></h2>
{% for post in site.posts %}
  {% if post.categories %}
  <ul>
    {% for c in post.categories %}
      {% if c == category.tag %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
{% endfor %}