---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <span class="date">{{ page.date | date_to_string }}</span>
  <span>
  {% if page.categories %} | Posted in 
  {% for category in site.categories %}
    {% for c in page.categories %}
      {% if c == category.tag %}
        <a href="{{category.permalink}}">{{category.title}}</a><span class="comma">, </span>
        {% endif %}
    {% endfor %}
  {% endfor %}
  {% endif %}
</span>
  <div class="entry">
    {{ content }}
  </div>

  <div class="post-newsletter">
    If you liked this post, consider subscribing to the newsletter to stay updated with the latest content.
  </div>

  {% include disqus.html %}
</article>
