---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <span class="date">{{ page.date | date_to_string }}</span>
  {% if page.categories %} | 
  {% for sitecat in site.categories %}
    {% for category in page.categories %}
      {% if sitecat.tag == category %}
        <a href="{{category.permalink}}">{{category.title}}</a>
        {% endif %}
    {% endfor %}
  {% endfor %}
  {% endif %}
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
